@font-face {
  /*o fonte face é usado para guardar uma familia de fontes que escolheu no google fonts e usar ela em seu projeto*/
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf"); /*aqui estamos colocando o endereço da fonte que colocamos no projeto*/
  font-style: normal;
  font-display: swap; /*colocando aqui a opção de fonte secundária caso a primeira nçao funcione*/
}

:root {
  /*aqui estamos definindo a estrutura básica para as variáveis de CSS dentro da pseudoclasse :root*/
  /*podemos depois mudar atraves das variaveis pois trocaremos as cores quando quisermos por elementos*/
  --primary-color: #bf0101; /*todas as cores dos botões que iremos usar*/
  --secondary-color: #b81515;

  --background-primary-color: #ffffff; /*todas as cores de fundo que iremos usar*/
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222; /*todas as cores de texto que iremos usar*/
  --text-secondary-color: #ffffff;

  --title-weight: 700; /*todas ps pesos das fontes que vamos usar*/
  --text-weight: 400;
  --text-text-weight: 500;
}

/* CSS RESET */
/*reset simples, que é o mesmo CSS que utilizamos no desenvolvimento do formulário. Trata-se de um CSS reset que faz o ajuste 
básico nesses elementos.*/
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat"; /*aqui estamos colocando uma familiza de fonte única pois no body só usaremos uma*/
  color: var(
    --text-primary-color
  ); /*aqui colocamos a cor que será usada em todos os textos do body pois ele neste caso será o mesmo*/
}

.section-title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 0;
  text-align: center;
}

.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px;
}

@media screen and (min-width: 768px) {
  section {
    width: 648px;
  }
  .section-title {
    width: 100%;
  }
  .section-title h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  section {
    width: 900px;
  }
  .button:hover {
    background-color: var(--primary-color);
  }
}

@media screen and (min-width: 1440px) {
  section {
    width: 1200px;
  }
}

/*@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
  }
}*/
