header {
  background-color: var(
    --background-tertiary-color
  ); /*colocando a cor da variavel que criamos e está no global.css*/
  display: flex; /*aqui colocamos esta propriedade para deixa o headre automatico para as telas*/
  flex-direction: row; /*adicionamos esta propriedade para colocar os dados do header em linha*/
  justify-content: space-between; /*adicionamos esta propriedade para colocar espaços entre eles */
  align-items: flex-start;
  padding: 38px 48px;
}

.logo {
  /*só temos aqui temos o uso para esta classe dos estilos abaixo*/
  /*criando estilo para a tag a de tamanho e altura da imagem que estamos utilizando*/
  display: inline-block; /*colocamos isso pois a tag é uma tag inline assim bloqueamos ela para o tamanho que vamos usar*/
  width: 68px;
  height: 64px;
}

.navigation-menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  /*aqui colocamos uma forma de fazer aparacer o menhu ao clicar na caixa ou checkbox*/
  display: block;
}

nav {
  display: none; /*aqui colocacamos esta propriedade para esconder o menu escrito pois ele deve aparecer ao clicar no menu de hamburguer*/
}
