/* CSS RESET */
/*reset simples, que é o mesmo CSS que utilizamos no desenvolvimento do formulário. Trata-se de um CSS reset que faz o ajuste 
básico nesses elementos.*/
body, img, h1, p, fieldset, legend, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
