:root { /*aqui estams definindo a estrutura básica para as variáveis de CSS dentro da pseudoclasse :root*/
    /*podemos depois mudar atraves das variaveis pois trocaremos as cores quando quisermos por elementos*/
    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #000000;

    --button-primary-color: #BF0101;
    --button-secondary-color: #B81515;

    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF;
}

/* CSS RESET */
/*reset simples, que é o mesmo CSS que utilizamos no desenvolvimento do formulário. Trata-se de um CSS reset que faz o ajuste 
básico nesses elementos.*/
body, img, h1, p, fieldset, legend, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

